/*
 * Font-family mixins
 */

helvetica()
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

helveticalight()
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-weight: 300

courier()
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace

verdana()
  font-family: 'Verdana', 'Geneva', sans-serif

futura()
  font-family: 'Futura', 'Trebuchet MS', 'Arial', sans-serif

consolas()
  font-family: 'Consolas', 'monaco', monospace

arialblack()
  font-family: 'Arial Black', 'Arial Bold', 'Gadget', sans-serif
