
/*
 * Image replacement
 */

imagereplace()
  background-color: transparent
  border: 0
  overflow: hidden
  *text-indent: -9999px if support-for-ie
  &:before
    content: ""
    display: block
    width: 0
    height: 100%