<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Återförsäljare</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      Radioteater: Göteborgsdekalogen – Låt staden brinna
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <a href="#" class="list-group-item">
      Perspektiv: Det sekretessbelagda sexnätverket
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <a href="#" class="list-group-item">
      Aftonbladet: Rädda Bokkafét – Moderater rensar ut ungsocialister
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
  </div>
  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Lägg till</a>
  </div>
</div>




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lägg till återförsäljare</h3>
  </div>

  <form class="panel-body" role="form">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="name">Återförsäljarens namn</label>
          <input type="text" class="form-control" id="name">
        </div>
      </div>
    </div>
  </form>

  <div class="panel-footer">
    <a href="#" class="btn btn-success">Spara</a>
  </div>
</div>



<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title">Hollywood</h3>
  </div>

  <table class="table table-sort">
    <thead>
      <tr>
        <th>Presentkortskod</th>
        <th>Genereringsdatum <span class="glyphicon glyphicon-play"></span></th>
        <th>Tillverkad <span class="glyphicon glyphicon-play"></span></th>
        <th>Skickad <span class="glyphicon glyphicon-play"></span></th>
        <th>Registrerad <span class="glyphicon glyphicon-play"></span></th>
        <th>Registreringsdatum <span class="glyphicon glyphicon-play"></span></th>
        <th>Rabattkod</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01B3C5D7E9</td>
        <td>2013-10-13</td>
        <td>
          <form>
            <label class="table-checkbox active">
              <span>1</span>
              <input type="checkbox" checked>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox">
              <span>0</span>
              <input type="checkbox">
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox disabled">
              <span>0</span>
              <input type="checkbox" disabled>
            </label>
          </form>
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>5D7E901B3C</td>
        <td>2013-10-23</td>
        <td>
          <form>
            <label class="table-checkbox active">
              <span>1</span>
              <input type="checkbox" checked>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox active">
              <span>1</span>
              <input type="checkbox" checked>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox disabled active">
              <span>1</span>
              <input type="checkbox" disabled checked>
            </label>
          </form>
        </td>
        <td>2013-11-01</td>
        <td><a href="#">EASCE</a></td>
      </tr>

      <tr>
        <td>1B05D7E93C</td>
        <td>2013-11-01</td>
        <td>
          <form>
            <label class="table-checkbox active">
              <span>1</span>
              <input type="checkbox" checked>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox active">
              <span>1</span>
              <input type="checkbox" checked>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox disabled">
              <span>0</span>
              <input type="checkbox" disabled>
            </label>
          </form>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Generera nya</a>
  </div>
</div>




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Generera presentkortskoder</h3>
  </div>

  <form class="panel-body" role="form">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3">
          <label for="amount">Antal</label>
          <input type="number" class="form-control" id="amount">
        </div>
      </div>
    </div>
  </form>

  <div class="panel-footer">
    <a href="#" class="btn btn-success">Generera</a>
  </div>
</div>



<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title">Rabattkoder</h3>
  </div>

  <table class="table table-sort">
    <thead>
      <tr>
        <th>Rabattkod</th>
        <th>Skapad <span class="glyphicon glyphicon-play"></span></th>
        <th>Förbrukad <span class="glyphicon glyphicon-play"></span></th>
        <th>Information <span class="glyphicon glyphicon-play"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>EASCE</td>
        <td>2013-10-13</td>
        <td class="text-success">2013-11-17</td>
        <td><a href="#">Presentkort</a></td>
      </tr>
      <tr>
        <td>PWLGE</td>
        <td>2013-08-02</td>
        <td class="text-success"></td>
        <td>Ross</td>
      </tr>
      <tr>
        <td>LOLQS</td>
        <td>2013-02-29</td>
        <td class="text-success">2013-04-18</td>
        <td>Matte</td>
      </tr>
      <tr>
        <td>VFDMS</td>
        <td>2013-10-13</td>
        <td></td>
        <td><a href="#">Presentkort</a></td>
      </tr>
    </tbody>
  </table>

  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Generera nya</a>
  </div>
</div>