<!-- ÅF start -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Återförsäljare</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <span class="text-danger">Obundna</span>
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <% @retailers.each do |retailer| %>
      <a href="/admin/retailers/<%= retailer.id %>/giftcards" class="list-group-item">
      <%= retailer.name %>
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <% end %>
  </div>
  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Lägg till</a>
  </div>
</div>


<!-- ÅF add -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lägg till återförsäljare</h3>
  </div>

  <form role="form" method="post" action="/admin/retailers/add">
    <div class="panel-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label for="name">Återförsäljarens namn</label>
            <input type="text" class="form-control" id="name" name="retailer[name]" required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success">Spara</button>
    </div>
  </form>
</div>



<!-- OBUNDNA view/presentkort -->
<!--
<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title text-danger">Obundna presentkort</h3>
  </div>

  <div class="panel-table">
    <table class="table table-sort">
      <thead>
        <tr>
          <th>Presentkortskod</th>
          <th>Skapad <span class="glyphicon glyphicon-play"></span></th>
          <th>Tillverkad <span class="glyphicon glyphicon-play"></span></th>
          <th>Skickad <span class="glyphicon glyphicon-play"></span></th>
          <th>Återförsäljare <span class="glyphicon glyphicon-play"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr id="11">
          <td>01B3C5D7E9</td>
          <td>2013-10-13</td>
          <td>
            <form>
              <label class="table-checkbox table-status active">
                <input type="checkbox" checked>
                <span>1</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-status">
                <input type="checkbox">
                <span>0</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-mark">
                <input type="checkbox">
                <span>0</span>
              </label>
            </form>
          </td>
        </tr>
        <tr id="12">
          <td>5D7E901B3C</td>
          <td>2013-10-23</td>
          <td>
            <form>
              <label class="table-checkbox table-status active">
                <input type="checkbox" checked>
                <span>1</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-status active">
                <input type="checkbox" checked>
                <span>1</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-mark">
                <input type="checkbox">
                <span>0</span>
              </label>
            </form>
          </td>
        </tr>
        <tr id="13">
          <td>1B05D7E93C</td>
          <td>2013-11-01</td>
          <td>
            <form>
              <label class="table-checkbox table-status active">
                <input type="checkbox" checked>
                <span>1</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-status active">
                <input type="checkbox" checked>
                <span>1</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-mark">
                <input type="checkbox">
                <span>0</span>
              </label>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel-footer clearfix">
    <a href="#" class="btn btn-primary pull-left">Skapa nya</a>

    <form class="pull-right form-inline retailer-mover">
      <input type="hidden">
      <div class="form-group">
        <select class="form-control">
          <option>urskog.com</option>
          <option>Hollywood</option>
        </select>
      </div>

      <button type="submit" class="btn btn-info" disabled>Flytta <span>(0)</span></button>
    </form>
  </div>
</div>
-->
