<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Återförsäljare</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      Radioteater: Göteborgsdekalogen – Låt staden brinna
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <a href="#" class="list-group-item">
      Perspektiv: Det sekretessbelagda sexnätverket
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <a href="#" class="list-group-item">
      Aftonbladet: Rädda Bokkafét – Moderater rensar ut ungsocialister
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
  </div>
  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Lägg till</a>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lägg till återförsäljare</h3>
  </div>

  <form class="panel-body" role="form">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="name">Återförsäljarens namn</label>
          <input type="text" class="form-control" id="name">
        </div>
      </div>
    </div>
  </form>

  <div class="panel-footer">
    <a href="#" class="btn btn-success">Spara</a>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hollywood</h3>
  </div>

  <table class="table table-sort">
    <thead>
      <tr>
        <th># <span class="glyphicon glyphicon-play"></span></th>
        <th>First Name <span class="glyphicon glyphicon-play"></span></th>
        <th>Last Name <span class="glyphicon glyphicon-play"></span></th>
        <th>Username <span class="glyphicon glyphicon-play"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>