<!-- Logga in -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hello, var vänlig logga in</h3>
      </div>
      <div class="panel-body">
        <form accept-charset="UTF-8" role="form">
          <fieldset>
            <!--<div class="form-group">
              <input class="form-control" placeholder="E-mail" name="email" type="text">
            </div>-->
            <div class="form-group">
              <input class="form-control input-lg" placeholder="Lösenord" name="password" type="password" required autofocus>
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Logga in">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- ÅF start -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Återförsäljare</h3>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item">
      <span class="text-danger">Obundna</span>
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <a href="#" class="list-group-item">
      urskog.com
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
    <a href="#" class="list-group-item">
      Hollywood
      <span class="glyphicon glyphicon-chevron-right pull-right text-muted"></span>
    </a>
  </div>
  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Lägg till</a>
  </div>
</div>


<!-- ÅF add -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lägg till återförsäljare</h3>
  </div>

  <form role="form">
    <div class="panel-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label for="name">Återförsäljarens namn</label>
            <input type="text" class="form-control" id="name" required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success">Spara</button>
    </div>
  </form>
</div>


<!-- ÅF view/presentkort -->
<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title">Hollywood</h3>
  </div>

  <table class="table table-sort">
    <thead>
      <tr>
        <th>Presentkortskod</th>
        <th>Skapad <span class="glyphicon glyphicon-play"></span></th>
        <th>Tillverkad <span class="glyphicon glyphicon-play"></span></th>
        <th>Skickad <span class="glyphicon glyphicon-play"></span></th>
        <th>Registrerad <span class="glyphicon glyphicon-play"></span></th>
        <th>Rabattkod</th>
      </tr>
    </thead>
    <tbody>
      <tr id="01">
        <td>01B3C5D7E9</td>
        <td>2013-10-13</td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-status">
              <input type="checkbox">
              <span>0</span>
            </label>
          </form>
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr id="02">
        <td>5D7E901B3C</td>
        <td>2013-10-23</td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td class="text-success">2013-11-01</td>
        <td><a href="#">EASCE</a></td>
      </tr>

      <tr id="03">
        <td>1B05D7E93C</td>
        <td>2013-11-01</td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Skapa nya</a>
  </div>
</div>


<!-- OBUNDNA view/presentkort -->
<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title text-danger">Obundna presentkort</h3>
  </div>

  <table class="table table-sort">
    <thead>
      <tr>
        <th>Presentkortskod</th>
        <th>Skapad <span class="glyphicon glyphicon-play"></span></th>
        <th>Tillverkad <span class="glyphicon glyphicon-play"></span></th>
        <th>Skickad <span class="glyphicon glyphicon-play"></span></th>
        <th>Återförsäljare</th>
      </tr>
    </thead>
    <tbody>
      <tr id="01">
        <td>01B3C5D7E9</td>
        <td>2013-10-13</td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-status">
              <input type="checkbox">
              <span>0</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-mark">
              <input type="checkbox">
              <span>0</span>
            </label>
          </form>
        </td>
      </tr>
      <tr id="02">
        <td>5D7E901B3C</td>
        <td>2013-10-23</td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-mark">
              <input type="checkbox">
              <span>0</span>
            </label>
          </form>
        </td>
      </tr>
      <tr id="03">
        <td>1B05D7E93C</td>
        <td>2013-11-01</td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-status active">
              <input type="checkbox" checked>
              <span>1</span>
            </label>
          </form>
        </td>
        <td>
          <form>
            <label class="table-checkbox table-mark">
              <input type="checkbox">
              <span>0</span>
            </label>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Skapa nya</a>

    <form class="pull-right form-inline retailer-mover">
      <input type="hidden">
      <div class="form-group">
        <select class="form-control">
          <option>urskog.com</option>
          <option>Hollywood</option>
        </select>
      </div>
      <button type="submit" class="btn btn-info" disabled>Flytta <span>(0)</span></button>
    </form>
  </div>
</div>


<!-- ÅF skapa nya presentkort -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Skapa presentkortskoder</h3>
  </div>

  <form role="form">
    <div class="panel-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="amount">Antal</label>
            <input type="number" class="form-control" id="amount" required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success">Skapa</button>
    </div>
  </form>
</div>


<!-- Rabattkoder start -->
<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title">Rabattkoder</h3>
  </div>

  <table class="table table-sort">
    <thead>
      <tr>
        <th>Rabattkod</th>
        <th>Procent <span class="glyphicon glyphicon-play"></span></th>
        <th>Skapad <span class="glyphicon glyphicon-play"></span></th>
        <th>Förbrukad <span class="glyphicon glyphicon-play"></span></th>
        <th>Information <span class="glyphicon glyphicon-play"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="01">
        <td>EASCE</td>
        <td>25%</td>
        <td>2013-10-13</td>
        <td class="text-success">2013-11-17</td>
        <td><a href="#">Presentkort</a></td>
      </tr>
      <tr id="02">
        <td>PWLGE</td>
        <td>15%</td>
        <td>2013-08-02</td>
        <td></td>
        <td>Ross</td>
      </tr>
      <tr id="03">
        <td>LOLQS</td>
        <td>15%</td>
        <td>2013-02-29</td>
        <td class="text-success">2013-04-18</td>
        <td>Matte</td>
      </tr>
      <tr id="04">
        <td>VFDMS</td>
        <td>25%</td>
        <td>2013-10-13</td>
        <td></td>
        <td><a href="#">Presentkort</a></td>
      </tr>
    </tbody>
  </table>

  <div class="panel-footer">
    <!-- (FUTURE) -->
    <button class="btn btn-primary" disabled>Skapa nya</button>
  </div>
</div>


<!-- Rabattkoder add more (FUTURE) -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Skapa rabattkoder</h3>
  </div>

  <form role="form">
    <div class="panel-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="amount">Antal</label>
            <input type="number" class="form-control" id="amount" required>
          </div>
          <div class="col-sm-3">
            <label for="info">Information</label>
            <input type="text" class="form-control" id="info" placeholder="Bara något ord" required>
          </div>
          <div class="col-sm-3">
            <label for="discount">Rabatt</label>
            <div class="input-group">
              <input type="number" class="form-control" id="discount" placeholder="25" required>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success">Skapa</button>
    </div>
  </form>
</div>