
// CSS setup
// ============================

// Font imports
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Open+Sans+Condensed:300,300italic,700')

// Stylus mixins
@import 'mixins/setup'

// Normalize
@import 'mixins/normalize'

* // Universal properties
  position relative
  box-sizing border-box

// Selection color
::-moz-selection
  background: #b3d4fc
::selection
  background: #b3d4fc

// Layout styles
@import 'layout'