
// ========================================
// Module Rules
// ========================================


// Buttons
// ==============================

[class|="btn"]
  display: inline-block
  user-select: none
