
// CSS setup
// ============================

// Stylus mixins
@import 'mixins/mixins'

// HTML5 Boilerplate
@import 'h5bp'

// Variables
orange = #ff8400
green  = #a7f0ac
blue   = #0d9fd8

* // Universal properties
  position relative
  background-repeat no-repeat
  box-sizing border-box

// Shared styles
@import 'shared'

// Primary styles
@import 'primary'

// Helper classes
@import 'h5bp-helpers'

