/* Tablet styles: (tablet.styl) */

@media only screen and (min-width:768px)


  // Navigation
  // ========================

  nav, .subnav
    li
      width auto
      &:first-child .nav-item
        border-left 1px solid #ddd
      &:last-child .nav-item
        border-right 1px solid #ddd
  .nav-item, .nav-item:visited
    min-width 98px