<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Urskog &middot; Admin</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="<%= stylesheet_path 'admin' %>">
    <script src="<%= javascript_path 'admin' %>"></script>
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Urskog &middot; Admin</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Presentkort</a></li>
            <li><a href="#">Rabattkoder</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logga ut</a></li>
          </ul>
        </div>
      </nav>

      <main id="primary-content">
        <%= yield %>
      </main>

    </div>
  </body>
</html>