<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Urskog Admin</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="<%= stylesheet_path 'admin' %>">
    <script src="<%= javascript_path 'admin' %>"></script>
  </head>
  <body>

    <div class="container">
      <main id="primary-content">
        <%= yield %>
      </main>
    </div>

  </body>
</html>