<div class="Constrained u-paddingBl u-cf">
  <article class="u-pullStart u-size6of10">
    <h1>Frö SWALLOW EDITION</h1>
    <p>MRBENBROWN LIMITED EDITION</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/PUpeTC52jVQ" frameborder="0" allowfullscreen></iframe>
    <div class="u-hideForNarrow" id="articleArea1">
      <div class="js-moveTo" data-targetNarrow="#infoTab" data-targetWide="#articleArea1">
        <p>Urskog and Mr Ben Brown have teamed up to bring you 15 limited edition Frö boards for Christmas!</p>

      </div>
    </div>

    
      <div class="u-hideForNarrow" id="articleArea2">
        <table class="Table Table--fixed u-textSmaller u-size9of10 js-moveTo" data-targetNarrow="#specsTab" data-targetWide="#articleArea2">
          <tr>
            <td class="u-size3of8"><strong>Wood:</strong>
            <td class="u-size5of8">Kolsvart
          </tr>
          <tr>
            <td class="u-size3of8"><strong>Length:</strong>
            <td class="u-size3of8">493mm
            <td class="u-size1of4">19.4”
          </tr>
          <tr>
            <td class="u-size3of8"><strong>Width:</strong>
            <td class="u-size3of8">185mm
            <td class="u-size1of4">7.3”
          </tr>
          <tr>
            <td class="u-size3of8"><strong>Wheelbase:</strong>
            <td class="u-size3of8">285mm
            <td class="u-size1of4">11.2”
          </tr>
        </table>
      </div>
    
  </article>

  <aside class="u-marginTm u-pullEnd u-hideForNarrow" id="shopAside">
    <div class="js-moveTo" data-targetNarrow="#shopTab" data-targetWide="#shopAside">
      
       
  
    

  

  <div class="Shop-section">
    <p>12 boards remaining</p>
    <div class="Control">
      <label class="u-marginRs" for="wood_type">Wood:</label>
      <select class="Control-menu" name="wood_type" id="wood_type" >
        
          <option value="aska">Kolsvart</option>
      </select>
    </div>
  </div>

    <div class="Shop-option js-shopOption" id="completeContent">
    
      <button class="Button Shop-buyButton"><span>Buy<strong class="Button-sub">£130</strong></span></button>
    
    <p>Free shipping worldwide</p>
    <p>Europe 3-5 working days<p/>
    <p>Rest of world 8-10 working days<p/>
  </div>
  <div class="Shop-option js-shopOption u-isHidden" id="deckOnlyContent">
    
      <button class="Button Shop-buyButton"><span>Buy<strong class="Button-sub">699 <small>SEK</small></strong></span></button>
    
    <p>Free shipping worldwide</p>
  </div>


      
    </div>
  </aside>
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '251005938417374']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=251005938417374&amp;ev=NoScript" /></noscript>

  <div class="Tabbed u-hideForWide js-tabbed">
    <ul class="Tabbed-nav">
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem is-active">Info</a>
      
        <li><a href="#" class="Tabbed-navItem js-tabbedNavItem">Facts</a>
      
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem">Shop</a>
    </ul>

    <div class="Tabbed-section js-tabbedSection Tabbed-section--tighter" id="infoTab"></div>
    
      <div class="Tabbed-section js-tabbedSection u-isHidden" id="specsTab"></div>
    
    <div class="Tabbed-section js-tabbedSection u-isHidden" id="shopTab"></div>
  </div>
</div>


<ul class="ProductList Constrained Constrained--l u-paddingTm u-marginTl">
  <!--<li>
    <div class="ProductList-item">
      <img class="js-rotate" data-extension="jpg" data-url="https://s3-eu-west-1.amazonaws.com/urskog/rotate/lov/" src="https://s3-eu-west-1.amazonaws.com/urskog/rotate/lov/001.jpg" width="690" height="230">
    </div>
  </li>-->
  
    <li>
      <div class="ProductList-item">
        <h4 class="ProductList-itemHeading">Complete</h4>
        <img class="ProductList-itemImage" src="https://dl.dropboxusercontent.com/u/4776036/newsitepics/boards/fro-complete.jpg" alt="Frö complete">
      </div>
    </li>
    
      <li>
        <div class="ProductList-item">
          <h4 class="ProductList-itemHeading">Aska</h4>
          <img class="ProductList-itemImage" src="https://dl.dropboxusercontent.com/u/4776036/newsitepics/boards/fro-aska.jpg" alt="Frö in aska">
        </div>
      </li>
    
      <li>
        <div class="ProductList-item">
          <h4 class="ProductList-itemHeading">Ebon</h4>
          <img class="ProductList-itemImage" src="https://dl.dropboxusercontent.com/u/4776036/newsitepics/boards/fro-ebon.jpg" alt="Frö in ebon">
        </div>
      </li>
      </ul>

  </div>
