<form id="payment-form" action="/buy/<%= @board.slug %>" method="POST">

  <div class="Control">
    <input class="card-amount-int" type="hidden" value="4900">
    <input class="card-currency" type="hidden" value="EUR">
  </div>

  <div class="inputs">
    <input type="hidden" name="buy_option" value="<%= @buy_option %>">
    <input type="hidden" name="board" value="<%= @wood_type %>">
  </div>

  <div class="Control">
    <label>Card number</label>
    <input class="card-number" type="text" value="4111111111111111">
  </div>

  <div class="Control">
    <label>CVC</label>
    <input class="card-cvc" type="text" value="111">
  </div>

  <div class="Control">
    <label>Name</label>
    <input class="card-holdername" type="text" value="Joe Doe">
  </div>

  <div class="Control">
    <label>Expiry Date (MM/YYYY)</label>
    <input class="card-expiry-month" type="text" value="02">
    <span> / </span>
    <input class="card-expiry-year" type="text" value="2015">
  </div>

  <button class="Button u-marginTl js-buy"><span>Confirm payment</span></button>
  <span class="js-errorOutput"></span>

</form>
