<form class="Constrained Constrained--extraTight"
      id="payment-form"
      action="/checkout/<%= @board.slug %>"
      method="POST"
      novalidate
      autocomplete="on">


  <!-- For Paymill token -->
  <input class="card-amount-int" type="hidden" value="<%= @calculator.amount %>">
  <input class="card-currency" type="hidden" value="EUR">

  <!-- Buy options -->
  <input type="hidden" name="buy_option" value="<%= @buy_option %>">
  <input type="hidden" name="board" value="<%= @wood_type %>">


  <h2 class="u-heading5">Shipping information</h2>

  <div class="Grid Grid--narrow">
    <div class="Grid-cell u-size1of2">
      <div class="Control">
        <label>Name</label>
        <input type="text" name="name">
      </div>
    </div>
    <div class="Grid-cell u-size1of2">
      <div class="Control">
        <label>Mail</label>
        <input type="email" name="email">
      </div>
    </div>
    <div class="Grid-cell u-size1of2">
      <div class="Control">
        <label>Country</label>
        <input type="text" name="country">
      </div>
    </div>
    <div class="Grid-cell u-size1of2">
      <div class="Control">
        <label>City</label>
        <input type="text" name="city">
      </div>
    </div>
    <div class="Grid-cell u-size2of3">
      <div class="Control">
        <label>Street</label>
        <input type="text" name="street">
      </div>
    </div>
    <div class="Grid-cell u-size1of3">
      <div class="Control">
        <label>Postal code</label>
        <input type="text" name="postal_code">
      </div>
    </div>
  </div>


  <hr>

  <h2 class="u-heading5">Card information</h2>

  <div class="Grid Grid--narrow">

    <div class="Control Grid-cell u-size3of4">
      <label>Card number</label>
      <input class="card-number" type="text" value="4111111111111111" placeholder="•••• •••• •••• ••••">
    </div>

    <div class="Control Grid-cell u-size1of4">
      <label>Expires</label>
      <div class="Grid Grid--narrow">
        <div class="Grid-cell u-size1of2">
          <input class="card-expiry-month" type="text" value="02" placeholder="MM">
        </div>
        <div class="Grid-cell u-size1of2">
          <input class="card-expiry-year" type="text" value="2015" placeholder="YY">
        </div>
      </div>
    </div>

    <div class="Control Grid-cell u-size3of4">
      <label>Name on card</label>
      <input class="card-holdername" type="text" value="Joe Doe">
    </div>

    <div class="Control Grid-cell u-size1of4">
      <label>Card code</label>
      <input class="card-cvc" type="text" value="111" placeholder="CVC">
    </div>

  </div>


  <button class="Button u-marginTl js-buy"><span>Confirm payment</span></button>
  <span class="js-errorOutput"></span>

</form>
