<div class="Constrained Constrained--tighter u-marginTm">
  <h1 class="u-isHiddenVisually">Contact Urskog</h1>

  <div class="Grid Grid--wide v2-Grid--2col v3-Grid--4col">
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading5">Marketing & Sales</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li>Christoffer Stivén</li>
        <li>+46 (0) 735 056 660</li>
      </ul>
    </section>

    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading5">Production</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li>Love Trollbäck</li>
        <li>+46 (0) 736 671 942</li>
      </ul>
    </section>

    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading5">Strategy</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li>Henrik Frenne</li>
      </ul>
    </section>

    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading5">Web</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li>Anton Trollbäck</li>
      </ul>
    </section>
  </div>

  <p class="u-heading2 u-textCenter u-paddingTl u-marginBn">
    Please contact us at <a href="mailto:info@urskog.com">info@urskog.com</a>
  </p>
</div>