<h1 class="u-isHiddenVisually">GAME OF FRÖ</h1>

<div class="Grid v2-Grid--2col">
  <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">GAME OF FRÖ COMPETITION VOTING HAS CLOSED!</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <p>Get involved and vote for the best Video to get a chance to win a custom made Urskog Frö!</p>
        <p>Urskog introduced the Frö at the Slamdunk festival to Letlive, Bury Tomorrow, Rob Lynch,<br> Crown The Empire and Marmozets this summer! Check out their reactions to the new Urskog mini cruiser. </p>
          <P>The Frö is Urskog's mini pavement cruiser, available in 15 colours all hand made from Swedish birch<br>The same spotless finish as our longboards!</p> <P>The competition runs the whole of October with the winner announced at Halloween.</p>
            <a href="products/fro">CHECK OUT THE FRÖ</a>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">LETLIVE</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/geTfAbIRaME" frameborder="0" allowfullscreen></iframe></li>
        <li><a href="letlive">VOTE FOR LETLIVE</a></li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">BURY TOMORROW</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/ed-LGBStbh0" frameborder="0" allowfullscreen></iframe></li>
        <li><a href="burytomorrow">VOTE FOR BURY TOMORROW</a></li>
      </ul>
    </section>
<section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">ROB LYNCH</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/9QS_zwL232c" frameborder="0" allowfullscreen></iframe></li>
        <li><a href="roblynch">VOTE FOR ROB LYNCH</a></li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">CROWN THE EMPIRE</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/9pHC8addm6g" frameborder="0" allowfullscreen></iframe></li>
        <li><a href="crowntheempire">VOTE FOR CROWN THE EMPIRE</a></li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">MARMOZETS</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/X_Gzf4pQXnI" frameborder="0" allowfullscreen></iframe></li>
        <li><a href="marmozets">VOTE FOR MARMOZETS</a></li>
      </ul>
    </section>