<h1 class="u-isHiddenVisually">URSKOG SHOWROOMS</h1>

<div class="Grid v2-Grid--2col">
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">LETLIVE</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/4Zx--5q12fI" frameborder="0" allowfullscreen></iframe></li>
        <li>VOTE FOR LETLIVE</li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">BURY TOMORROW</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/SWU-mPElp-U" frameborder="0" allowfullscreen></iframe></li>
        <li>VOTE FOR BURY TOMORROW</li>
      </ul>
    </section>
<section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">ROB LYNCH</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/gI6BthVGHdc" frameborder="0" allowfullscreen></iframe></li>
        <li>VOTE FOR ROB LYNCH</li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">CROWN THE EMPIRE</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/-oClw7ci12I" frameborder="0" allowfullscreen></iframe></li>
        <li>VOTE FOR CROWN THE EMPIRE</li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">MARMOZETS</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe width="560" height="315" src="//www.youtube.com/embed/X_Gzf4pQXnI" frameborder="0" allowfullscreen></iframe></li>
        <li>VOTE FOR MARMOZETS</li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">GAME OF FRÖ COMPETITION</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li>Vote for your favorite video for a chance to win a custom Frö board with your favorite bands name on it!</li>
        <li>Voting is open till 10th October...</li>
      </ul>
    </section>