<h1 class="u-isHiddenVisually">Urskog Longboard</h1>

<div class="Constrained">
  <a class="ProductList-item" href="/products/giftcard">
    <strong class="ProductList-heading">Gift cards</strong>
    <img style="position: relative; right: -10px;" class="ProductList-itemImage" src="https://s3-eu-west-1.amazonaws.com/urskog/boards/giftcard-alt.jpg" alt="Urskog giftcard">
  </a>
</div>

<p class="Constrained Constrained--xs u-marginTl u-textQuote">Urskog is a Swedish riding concept returning to one of our oldest materials, creating something timeless in a modern form. Boards where you can feel classical wooden surf and our northern roots in every line and every curve. The naked wood makes each board unique like the tree rings of the surface. Boards created where the woods meet the sea, grown where the waves end and the streets start.</p>