<h1 class="u-isHiddenVisually">Urskog Longboard</h1>

<div style="max-width: 800px; margin: 15px auto 0;">
  <div style="padding-bottom: 56.25%; position: relative; height: 0; width: 100%;">
    <iframe src="https://www.youtube.com/embed/faErkPFbdDQ?rel=0&amp;showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:100%; position: absolute; top:0;left:0;height: 100%;"></iframe>
  </div>
</div>

<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '355353684623920']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=355353684623920&amp;ev=PixelInitialized" /></noscript>
