<h1 class="u-isHiddenVisually">Urskog Longboard</h1>

<div class="Constrained">
  <a class="ProductList-item" href="/products">
    <img style="position: relative; right: -10px;" class="ProductList-itemImage" src="https://dl.dropboxusercontent.com/u/4776036/newsitepics/vidjadtcropped.jpg" alt="Urskog giftcard">
  </a>
</div>
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '251005938417374']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=251005938417374&amp;ev=NoScript" /></noscript>
<p class="Constrained Constrained--xs u-marginTl u-textQuote">Urskog is a Swedish longboard concept returning to one of our oldest, most admirable materials, creating something timeless in an everlasting form. Our longboards are handcrafted and locally produced in Nordic birch. You can feel the classical wooden surf and our northern roots in every line and every curve. The naked wood makes each board naturally unique, just like nature intended it to be - Diversified and Exquisite.</p>
