<div class="Constrained Constrained--xs js-tabbed u-textSmaller">

    <div class="u-paddingBm">
      <h1 class="u-heading1">Information</h1>
      <ul class="u-marginVl List List--divided">
        <li><a class="js-tabbedNavItem" href="#returns">Returns & Exchanges</a></li>
        <li><a class="js-tabbedNavItem" href="#warranty">Warranty</a></li>
        <li><a class="js-tabbedNavItem" href="#return-policy">Return Policy Guidelines</a></li>
        <li><a class="js-tabbedNavItem" href="#privacy">Privacy Policy</a></li>
        <li><a class="js-tabbedNavItem" href="#legal">Legal Statement</a></li>
      </ul>
    </div>

    <div class="js-tabbedSection u-isHidden">
      <h2 class="-heading3" id="returns">Returns & Exchanges</h2>

      <p>If you are not 100% satisfied with your purchase, you may return it to Urskog within 30 days of your receipt date. Please verify that your package meets the conditions stated within our Return Policy Guidelines. Once confirmed follow the Return Instructions listed below.</p>

      <h3>Return Instructions</h3>
      <ol>
        <li>Ensure that your return meets our Return Policy Guidelines.</li>
        <li>Contact us before returning any products at <a href="mailto:support@urskog.com">support@urskog.com</a>.</li>
        <li>Box your product it in its original packaging or likewise.</li>
        <li>Add your name and contact information to the package.</li>
        <li>Address the package or use our mailing label:
          <ul class="List--clean">
            <li><strong>Urskog AB</strong></li>
            <li>Tegelviksgatan 18</li>
            <li>116 41 Stockholm</li>
            <li>Stockholms län</li>
          </ul>
        <li>Mail with shipper of your choice. You're responsible for return shipping unless the product is declared defective.</li>
      </ol>

      <p></p>


    </div>
    <div class="js-tabbedSection u-isHidden">
      <h2 class="-heading3" id="warranty">Warranty</h2>

      <p>All Urskog products are warranted against defect in materials and workmanship for a period of 120 days from the date of purchase. This means that Urskog will repair or replace, at our option, any Urskog product that delaminates due to defects in materials, workmanship or glue. This is the only condition covered by Urskog’s warranty. No other warranty is expressed or implied.</p>

      <h3>What this warranty does not cover:</h3>

      <strong>Breakage due to:</strong>
      <ul>
        <li>Wear</li>
        <li>Improper installation of accessories</li>
        <li>Improper foot positioning when landing high impact tricks</li>
        <li>Intentional breakage</li>
      </ul>

      <strong>Normal Wear & Abuse:</strong>
      <ul>
        <li>Tail and nose wear from dragging the nose and tail on the ground</li>
        <li>Edge chipping from ground, curbs or walls</li>
        <li>Warping from exposure to heat, rain, snow or immersion in water</li>
      </ul>

      <h3>To activate your warranty you must do the following:</h3>

      <p>Contact <a href="mailto:support@urskog.com">support@urskog.com</a> and include a few pictures and a brief description of the problem you are having with your skateboard. If the problem is deemed to be a defect in the longboard due to a manufacturing defect you will be able to return it following the steps above.</p>


    </div>
    <div class="js-tabbedSection u-isHidden">
      <h2 class="-heading3" id="return-policy">Return Policy Guidelines</h2>

      <h3>All Products</h3>

      <p>Products and merchandise must be in store bought condition to be returned or exchanged. All returned items must be unused and in new condition. Our merchandise has been inspected before shipping, and our packages are carefully checked before leaving our warehouse. Clothing must be unwashed and unworn. Videos must be unopened & sealed in original packaging. Ramp plans, grip taped decks and custom assembled skateboards, including its parts, cannot be returned. Due to limited stock, replacement product may not be available and cannot be guaranteed.</p>

      <p>Urskog must receive <strong>returns within 30 days</strong> of the customer receipt date. Refunds will not be authorized after 30 days. All orders shipped with free freight discount and returned for refund will be charged the original shipping fees. All refused packages will be refunded in full, less shipping charges.</p>

      <p>Urskog does its best to stock exactly what's pictured on the site, but in some cases, it is beyond our control. Manufacturers will sometimes change the colors on a product to provide options; therefore, colors may vary. Urskog will not be held responsible for items that may differ from image colors on this website.</p>

      <h3>Defective Products</h3>

      <p>You must contact Urskog within 5 days of receipt of a defective product. Urskog does not guarantee exchange or credit for defective items. If you believe your product is defective, please contact us explaining the defect send it back following the steps above. If the product is determined to be defective upon receipt by Urskog, a full refund will be issued. Urskog will reimburse shipping charges only on items declared defective. Due to limited stock, replacement product may not be available and cannot be guaranteed.</p>

      <h3>Incorrect Product Shipping</h3>

      <p>If Urskog ships a product other than the product ordered, we will issue a call tag to have the product picked up at our expense. The customer will have the choice of receiving the correct product, another item of the same value, or receiving a full refund including shipping charges. Due to limited stock, replacement product may not be available and cannot be guaranteed.</p>

      <h3>Manufacturer Money Back Guarantees</h3>

      <p>Urskog does not offer money back guarantees or honor money back guarantees offered by product manufacturers. If you have concerns regarding a product, contact the manufacturer directly to discuss and purchase products in order to be covered under the manufacturer's money back guarantees. Urskog does not endorse or guarantee any manufacturer product claims.</p>

      <h3>Refunds</h3>

      <p>In order to receive a refund, your purchase must be returned with shipping pre-paid following the steps above. If it is determined that the product does not meet our return guidelines, it will be sent back to you. All orders shipped with free freight discount and returned for refund will be charged the original shipping fees. All refused packages will be refunded in full, less shipping charges.</p>

      <h3>Reimbursement of payment</h3>

      Please allow a minimum of 7-10 days for refunds to be processed. When Urskog receives the returned defective product, your credit card will be credited in full for the defective product plus the shipping cost. Customers returning non-defective products will receive a refund less shipping fees.</p>

      <p>For help processing a return, please contact us at <a href="mailto:support@urskog.com">support@urskog.com</a>.</p>
    </div>

    <div class="js-tabbedSection u-isHidden">
      <h2 class="-heading3" id="privacy">Privacy Policy</h2>

      <p>Urskog collects customer information to improve your overall shopping experience. We respect your privacy and are committed to maintaining and using this information responsibly. Except as otherwise mentioned below, this privacy policy only addresses the use and disclosure of information we collect from you on our website. By visiting urskog.com you are accepting the practices described in this privacy policy.</p>

      <h3>Overview</h3>

      <p>Our site allows you to buy products and receive special discounts and receive e-mails or other promotional information from us. We use the information that we collect about you to fulfill your product purchases and to create a more personalized online experience. This Policy may change, so please check back periodically.</p>

      <p>Questions regarding this Policy should be directed to <a href="mailto:support@urskog.com">support@urskog.com</a>.</p>

      <h3>The Information We Collect</h3>

      <p>In general, you can browse our web site without telling us who you are or revealing any personal information about yourself. We are, however, able to determine your IP address. We use your IP address to help diagnose problems with our server, to administer our web site, to measure the use of our web site and to improve the content of our web site. There are a few places where we give you an opportunity to provide us your personal information. This refers to information that lets us know the specifics of who you are. When you engage in certain activities on our web site, such as ordering a product, we may ask you to provide certain information. It is completely optional for you to engage in these activities. If you elect to engage in these activities, however, we may ask that you provide us personal information, such as your first and last name, mailing address (including zip code), email address, telephone numbers, and other personal identifying information. When ordering products on our web site, you will be asked to provide a credit card number. We do not store nor save credit card information. </p>

      <h3>Third Party Products and Services</h3>

      <p>Urskog is not responsible for the content of any sites that may be linked to or from this website, nor do we make any representations or warranties of any kind regarding any products or services offered by any third parties whose icons, products, services or hyperlinks appear on the website. These links are provided for your convenience only and you access them at your own risk. Any other site accessed from this website is independent from Urskog, and Urskog has no control over the content of that other site. In addition, a link to any other site should not be construed as approval or endorsement by Urskog of that third party or of any product or service provided by a third party.</p>

      <p>Your correspondence or business dealings with third parties found on or through this website, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such third parties. We will not be involved in resolving any disputes relating to or arising out of any correspondence or business transaction between you and any such third parties.</p>
    </div>

    <div class="js-tabbedSection u-isHidden">
      <h2 class="-heading3" id="legal">Legal Statement</h2>

      <p>We use <a href="https://paymill.com">Paymill</a>. They acquirers (bank) have their own General Terms and Conditions, which are just as important as our General Terms and Conditions. For this reason, you can download them:</p>

      <a href="https://www.paymill.com/downloads/Acceptance_AGB_CNP_2011_09_EN.pdf">General Terms & Conditions - Acceptance</a>
      <br>
      <a href="https://static.paymill.com/r/d6ed1f3aa69f82f7c503ddda92e6ecff1b771cee/downloads/wirecard-AGB-EN-040313.pdf">General Terms & Conditions - Wirecard</a>

      <h3>Terms of use agreement</h3>

      <p>The use of this site is governed by the policies, terms and conditions set forth below. Please read them carefully. Your use of this site indicates your acceptance of the privacy policy, returning policy and these terms and conditions. Your placement of an order indicates your acceptance of the privacy policy, returns policy, and terms and conditions. Your submittal of any purchase order to Urskog, Inc. ("Urskog") indicates acceptance of the privacy policy, returns policy, and terms and conditions. These terms and conditions shall supersede any subsequent terms or conditions included with any purchase order, whether or not such terms or conditions are signed by Urskog. Urskog reserves the right to make changes to this site and these terms and conditions at any time.</p>

      <h4>Copyright and Trademark Notice</h4>

      <p>This site is owned and operated by Urskog. Unless otherwise specified, all materials appearing on this site, including the text, site design, logos, graphics, icons, images, and other content of the site (the "Content"), as well as the selection, assembly and arrangement thereof, are the sole property of Urskog, Copyright 2013, ALL RIGHTS RESERVED.</p>

      <h4>Disclaimer and Limitation of Liability as to the Urskog Websites</h4>

      <p>The Urskog website and the materials therein are provided "as is". Urskog makes no representations or warranties, either expressed or implied, of any kind with respect to the Urskog sites, their operations, contents, information, materials or compliance. Urskog expressly disclaims all warranties, express or implied, of any kind with respect to the sites or their use, including but not limited to merchantability and fitness for a particular purpose. You agree that Urskog or other representatives shall not be liable for damages arising from the operation, content or use of the Urskog sites. You agree that this limitation of liability is comprehensive and applies to all damages of any kind, including without limitation direct, indirect, compensatory, special, incidental, punitive and consequential damages.</p>

      <h4>Product and Pricing Information</h4>

      <p>In the event a product is listed at an incorrect price, color, or with incorrect information due to typographical error or error in pricing or product information received from our suppliers, Urskog shall have the right to refuse or cancel any orders placed for product listed at the incorrect price. Products displayed may be out-of-stock or discontinued, and prices are subject to change at any time. Urskog shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged. If your credit card has already been charged for the purchase and your order is canceled, Urskog shall immediately issue a credit to your credit card account in the amount of the charge. Subject to the foregoing, the prices displayed are quoted in SEK.</p>

      <h4>Sales Taxes</h4>

      <p>Urskog shall automatically charge and withhold the applicable sales tax for orders to be delivered to addresses within Sweden. Each customer shall be solely responsible for all sales taxes, or other taxes, on orders shipped to any other country.</p>

      <h4>Order Acceptance Policy</h4>

      <p>Your receipt of an electronic or other form of order confirmation does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. Urskog reserves the right at any time after receipt of your order to accept or decline your order for any reason. Urskog reserves the right at any time after receipt of your order, without prior notice to you, to supply less than the quantity you ordered of any item. All orders placed must obtain pre-approval with an acceptable method of payment, as established by our credit and fraud avoidance department. We may require additional verifications or information before accepting any order.</p>

      <h4>Jurisdiction and Venue</h4>

      <p>You agree that any legal action brought against Urskog shall be governed by the laws of Sweden without regard to its conflict of law principles.</p>

      <h4>Terms of Use Agreement Revisions</h4>

      <p>Urskog reserves the right to withdraw access to the Sites or to revise the services and products described in the Site at any time without notice. Urskog may at any time revise the terms and conditions contained in this Legal Statement by updating this posting. You are bound by any revisions and should periodically visit this page to review the current terms and conditions which apply to your use of the Site. The invalidity of any term, condition or provision of this Legal Statement shall not affect the enforceability of those portions of the Legal Statement deemed enforceable by applicable courts of law.</p>
    </div>
  </div>
</div>
