<h1 class="is-vishidden">List of products</h1>

<ul class="product-list product-list--divided">
  <% @boards.each do |board| %>
    <li>
      <a class="product" href="/products/<%= board.slug %>">
        <span class="product__title"><%= board.name %></span>
        <img class="product__image" src="/img/boards/<%= board.slug %>/zebrano.jpg" alt="Image of <%= board.name %>">
      </a>
    </li>
  <% end %>
</ul>
