<h1 class="is-vishidden">Products</h1>

<% @boards.each do |board| %>
  <a href="#" class="product-image">
    <figure class="product-image">
      <figcaption class="heading heading-3"><%= board.name %></figcaption>
      <img src="/img/boards/<%= board.slug %>/zebrano.jpg" alt="">
    </figure>
    <hr>
  </a>
<% end %>
