<div class="Constrained Constrained--l">
  <h1 class="u-isHiddenVisually">Products: All of Urskog longboards</h1>

  <ul class="ProductList ProductList--divided">
    <% @boards.each do |board| %>
      <li>
        <a class="ProductList-item" href="/products/<%= board.slug %>">
          <h2 class="ProductList-itemHeading"><%= board.name %></h2>
          <img class="ProductList-itemImage" src="https://s3-eu-west-1.amazonaws.com/urskog/boards/<%= board.slug %>/zebrano.jpg" alt="Image of <%= board.name %>">
        </a>
      </li>
    <% end %>
  </ul>
</div>