<h1 class="u-heading2 u-textCenter u-marginBn">Great work!</h1>
<p class="Constrained Constrained--xxs u-marginTl u-textQuote">Here's your 25% discount code <span class="u-block u-textMuted">(a copy have been sent to the email you provided)</span></p>

<div class="Grid Grid--center u-marginTl">
  <div class="Grid-cell" style="width: 240px">
    <div class="Control">
      <input class="Control-field"
             type="text"
             value="0123456789"
             readonly
             autofocus>
    </div>
  </div>
</div>

<div class="Constrained Constrained--xxs u-marginTl u-paddingTl u-textCenter">
  <a href="/products" class="Button u-marginBm"><span>Browse products</span></a>
  <span class="u-marginHl u-textQuote u-textMuted u-blockForExtraNarrow">Or</span>
  <a href="/giftcard" class="u-textQuote u-textTruncate">Register another gift card</a>
</div>
