<h1 class="u-heading2 u-textCenter u-marginBn">Good work!</h1>
<p class="Constrained Constrained--xxs u-marginTm u-textQuote">Here's your 25% discount code.<br> We also sent it to the email you provided.</p>

<div class="Grid Grid--center u-marginTl">
  <div class="Grid-cell" style="max-width: 280px">
    <div class="Control">
      <input class="Control-field"
             type="text"
             value="0123456789"
             readonly
             autofocus>
    </div>
  </div>
</div>

  <p class="Constrained Constrained--xxs u-marginTm u-textQuote">If you have any questions, please contact us anytime at <a href="mailto:support@urskog.com">support@urskog.com</a>.</p>