<h1 class="u-isHiddenVisually">URSKOG SHOWROOMS</h1>

<div class="Grid v2-Grid--2col">
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">London Store</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2484.043300201803!2d-0.09910136878662107!3d51.494072887115706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876049f5ed53ed7%3A0x72ddf499e5db213e!2sLondon+SE17+1LB!5e0!3m2!1sen!2suk!4v1409748373166" width="500" height="350" frameborder="0" style="border:0"></iframe></li>
        <li>THE ARTWORKS</li>
  <li>ELEPHANT & CASTLE</li>
  <li>London SE17 1LB</li>
      </ul>
    </section>
    <section class="Grid-cell u-textCenter">
      <h2 class="u-heading4 u-marginBs">Stockholm Store</h2>
      <ul class="List--clean u-textCondensed u-marginBl">
        <li><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2036.2288904952222!2d18.0989556!3d59.3124348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f78048ff011cb%3A0x8c6239ffd5d3c3dd!2sTegelviksgatan+18%2C+116+41+Stockholm%2C+Sweden!5e0!3m2!1sen!2suk!4v1409749245618" width="500" height="350" frameborder="0" style="border:0"></iframe></li>
        <li>TEGELVIKSGATAN 18</li>
  <li>116 41 STOCKHOLM</li>
      </ul>
    </section>
<div style="text-align: center"></div>