
<div class="product-info">
  <section class="description">
    <h1>Stubbe</h1>
    <p>Urskog’s new model Stubbe is a dropthrough board perfect for freeriding. We made it slightly shorter than the average dropthrough model which gives a great turn ratio without comprimising on its stability.</p>
    <ul class="rating split">
      <li><strong class="split-title">Feature 1:</strong> O O O O O
      <li><strong class="split-title">Feature 2:</strong> O O O O O
      <li><strong class="split-title">Feature 3:</strong> O O O O O
      <li><strong class="split-title">Feature 4:</strong> O O O O O
    </ul>
    <ul class="list">
      <li><strong class="list-title">Wood:</strong> Jacaranda, Walnut, Zebrano
      <li><strong class="list-title">Lenght:</strong> 950mm · 37,4”
      <li><strong class="list-title">Width:</strong> 225mm · 8,9”
      <li><strong class="list-title">Wheelbase:</strong> 690mm · 27,1”
    </ul>
  </section>

  <section class="shop">
    <h2>Shop</h2>
    <label for="complete" class="check-radio">
      <input type="radio" id="complete" name="buy-option" checked> <span>Complete</span>
    </label>
    <label for="deck-only" class="check-radio">
      <input type="radio" id="deck-only" name="buy-option"> <span>Deck only</span>
    </label>
    <div class="shop-item">
      <strong class="price">3400 <small>SEK</small></strong>
      <p>Ready to ride. <a href="#" class="help" tite="Everything you need, mounted and ready. The board, trucks, wheels, bearing, griptape">What's included?</a></p>

      <a class="btn buy"><span>Buy it!</span></a>

    </div>
  </section>

</div>


<figure class="product-image">
  <figcaption class="heading heading-3">Jacaranda</figcaption>
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
</figure>
<figure class="product-image">
  <figcaption class="heading heading-3">Zebrano</figcaption>
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
</figure>
<figure class="product-image">
  <figcaption class="heading heading-3">Walnut</figcaption>
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
</figure>