
<div class="product-info">
  <section class="description">
    <h1>Stubbe</h1>
    <p>Urskog’s new model Stubbe is a dropthrough board perfect for freeriding. We made it slightly shorter than the average dropthrough model which gives a great turn ratio without comprimising on its stability.</p>
  </section>

  <section class="specs">
    <ul>
      <li><strong>Wood:</strong> Jacaranda, Walnut, Zebrano
      <li><strong>Lenght:</strong> 950mm · 37,4”
      <li><strong>Width:</strong> 225mm · 8,9”
      <li><strong>Wheelbase:</strong> 690mm · 27,1”
    </ul>
  </section>
</div>


<figure class="product-image">
  <figcaption class="heading heading-3">Jacaranda</figcaption>
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
</figure>
<figure class="product-image">
  <figcaption class="heading heading-3">Zebrano</figcaption>
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
</figure>
<figure class="product-image">
  <figcaption class="heading heading-3">Walnut</figcaption>
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
</figure>