
<div class="product-info">
  <section class="description">
    <h1>Stubbe</h1>
    <p>Urskog’s new model Stubbe is a dropthrough board perfect for freeriding. We made it slightly shorter than the average dropthrough model which gives a great turn ratio without comprimising on its stability. Stubbe has a core of 7 layers of maple and gives a semi-hard flex. It is available in three different types of wood veneers. The classical Walnut wood and two brand new; Jacaranda and Zebrano.</p>
  </section>

  <section class="specs">
    <h2>Info</h2>
    <ul>
      <li><strong>Wood, surface:</strong> Jacaranda, Walnut, Zebrano, 
      <li><strong>Lenght:</strong> 950MM 37,4”
      <li><strong>Width:</strong> 225MM 8,9”
      <li><strong>Wheelbase:</strong> 690MM 27,1”
      <li><strong>Retail, deck:</strong> 1975 SEK
      <li><strong>Retail, complete:</strong> 2850 SEK
      <li class="download"><a href=#>Download product photos</a>
    </ul>
  </section>
</div>


<figure class="product-image">
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
  <figcaption>Jacaranda</figcaption>
</figure>
<figure class="product-image">
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
  <figcaption>Zebrano</figcaption>
</figure>
<figure class="product-image">
  <img src="/img/boards/stubbe-zebrano.jpg" alt="">
  <figcaption>Walnut</figcaption>
</figure>