<h1 class="u-heading2 u-textCenter u-marginBn">Thanks for your purchase!</h1>
<p class="Constrained Constrained--xxs u-marginTm u-textQuote">Your receipt have been sent to you email address. If you have any questions, please contact us anytime at <a href="mailto:support@urskog.com">support@urskog.com</a>.</p>