// =============================================================================
// CSS setup
// =============================================================================

// Fonts
// -----------------------------------------------------------------------------

$family: unquote("Open+Sans+Condensed:300,300italic,700");
@import url("http://fonts.googleapis.com/css?family=#{$family}");

// Utilities
// -----------------------------------------------------------------------------

@import "bourbon/bourbon";

@import "utilities/display";
@import "utilities/layout";
@import "utilities/link";
@import "utilities/space";
@import "utilities/state";
@import "utilities/text";

// Variables
// -----------------------------------------------------------------------------

$href:  #007ac7;
$hr:    #e6e6e6;
$muted: #888;

// Base styles
// -----------------------------------------------------------------------------

@import "normalize";
@import "base";

// Components
// -----------------------------------------------------------------------------

@import "components/constrained";
@import "components/button";
@import "components/form-element";
@import "components/logo";
@import "components/nav";
@import "components/shop";
@import "components/product-list";
@import "components/page-footer";
@import "components/grid";

// Page specific styles
// -----------------------------------------------------------------------------

@import "page-specific";