// =============================================================================
// Base styles
// =============================================================================

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: 300 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
}

// Typography
// -----------------------------------------------------------------------------

p {
  margin: 16px 0;
}

strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 10px;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  margin: 0 0 -12px 0;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}

.heading-small {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
}


// Tables
// -----------------------------------------------------------------------------

table {
  width: 100%;
  .table-fixed {
    table-layout: fixed;

    td {
      padding: 0;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
    }
  }
}



// Links
// -----------------------------------------------------------------------------

a {
  color: $href;
  text-decoration: none;
  &:hover {
    color: $href;
    text-decoration: underline;
  }
  &:active {
    outline: 0;
    text-decoration: underline;
  }
  &:focus {
    outline: 1px solid dotted;
  }
}

// Horizontal rule
// -----------------------------------------------------------------------------

@mixin hr {
  display: block;
  width: 70%;
  height: 1px;
  margin: 2em auto;
  background: $hr;
}

hr {
  @include hr();
}