// =============================================================================
// Constrained wrapper
// =============================================================================

.constrained {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.constrained--tighter {
  max-width: 700px;
}

.constrained--nopad {
  padding: 0;
}