// =============================================================================
// Grid
// =============================================================================

.unit-1-2 {
  width: 50%;
}

.unit-1-3 {
  width: 33.333%;
}

.unit-1-4 {
  width: 20%;
}

.unit-1-5 {
  width: 25%;
}

.unit-1-6 {
  width: 66.666%;
}