
// ========================================
// Form elements
// ========================================



// Checkboxes and radio buttons
// ----------------------------------------

.check-radio
  display: inline-block
  cursor: pointer

  input
    vertical-align: middle
    padding-right: 5px
    &:not(:checked)
      opacity: .8
      ~ span
        color: #888