
// ========================================
// Grid system
// ========================================

gutter = 12px
gutterTighter = 6px

.grid
  display: block
  padding: 0
  margin: 0 (- gutter)
  text-align: left
  letter-spacing: -0.31em
  word-spacing: -0.43em
  text-rendering: optimizespeed

.grid > .grid
  overflow: hidden
  margin-right: 0
  margin-left: 0
  padding-bottom: 5px

.grid__cell
  width: 100%
  display: inline-block
  box-sizing: border-box
  margin: 0
  padding: 0 gutter
  // controls vertical positioning of units
  vertical-align: top
  // keeps unit content correctly aligned
  text-align: left
  // reset text defaults
  letter-spacing: normal
  word-spacing: normal
  text-rendering: auto



// Modifiers
// ----------------------------------------

// Horizontally center all grid units
.grid--center
  text-align: center

// Horizontally center one unit
.grid__cell--center
  display: block
  margin: 0 auto

// Tighter gutters
.grid--tighter
  margin: 0 (- gutterTighter)
.grid--tighter .grid__cell
  padding: 0 gutterTighter



// Grid units
// ----------------------------------------

.unit-1-3
  width: 33.333%
.unit-2-3
  width: 66.666%
