
// ========================================
// Logo
// ========================================

.logo
  display: inline-block
  text-indent: -999em
  width: 150px
  height: 51px
  background-image: url('../img/logo.svg')
  opacity: 0.75
  transition: opacity .2s ease
  -webkit-tap-highlight-color: rgba(black, 0)

  .no-svg &
    background-image: url('../img/logo.png')

  &:hover
    opacity: 0.85
  &:active
    opacity: 0.6
    transition: opacity 0
