
// =============================================================================
// Product list
// =============================================================================

/*
 * The list
 */

.product-list
  margin: 0
  padding: 0
  li
    list-style: none
    margin-top: 3em
    &:first-child
      margin-top: 0

/**
 * Modifier for a list divided with borders
 */

.product-list--divided
  li:before
    content: ""
    @extend hr
  li:first-child:before
    display: none


/**
 * The product, or list item, with title and product image
 */

.product
  display: block
  color: inherit
  text-decoration: none
  &:hover
    color: inherit
    text-decoration: none

.product__title
  @extend h2
  display: block
  text-align: center

.product__image
  width: 100%
  height: auto