
// ========================================
// Shop
// ========================================

.shop
  display: block
  border: 1px solid rgb(231, 231, 231)
  padding: 20px 18px 28px 30px
  border-radius: 3px

  // Radio buttons for buying options
  .check-radio:first-of-type
    margin-right: 30px

  // Price tag under buying options
  .extra
    margin: -3px 0 0 18px
    display: block
    font-size: 14px


.shop__heading
  cursor: default
  margin-bottom: 4px


.shop__option
  margin-top: 12px
  display: none
  &.is-active
    display: block
  p
    cursor: default
    margin: 0
  .btn
    margin: 15px 0 12px
    min-width: 183px


.price
  font-weight: 400
  margin-left: 14px
  padding-left: 14px
  border-left: 1px solid #007CC4
  small
    font-size: 60%
    font-weight: 500
