
// Include mixins
// ==============================

@import 'border'
@import 'clearfix'
@import 'image-replace'
@import 'flex'
@import 'gradients'
@import 'image'
@import 'overflow'
@import 'positions'
@import 'vendor'

// Mixins support for ie defaulting to true.
support-for-ie = true

// Default vendor prefixes.
vendor-prefixes ?= webkit moz o ms official