// =============================================================================
// Base styles
// =============================================================================

* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  font: 300 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-text;
}

// Typography
// -----------------------------------------------------------------------------

p {
  margin: 16px 0;
}

strong {
  font-weight: 500;
}

// Mixins for headings
// -----------------------------------------------------------------------------

@mixin heading {
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 10px;
  color: $color-heading;
}

@mixin h1 {
  font-size: 34px;
  font-weight: 500;
  margin: 0 0 -12px 0;
}

@mixin h2 {
  font-size: 28px;
  font-weight: 400;
}

@mixin h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

@mixin h4 {
  font-size: 16px;
  font-weight: 400;
}

@mixin h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
}

// Headings default states and helper utilites
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
.u-heading1,
.u-heading2,
.u-heading3,
.u-heading4,
.u-heading5 {
  @include heading();
}

h1,
.u-heading1 {
  @include h1();
}

h2,
.u-heading2 {
  @include h2();
  text-transform: none;
}

h3,
.u-heading3 {
  @include h3();
}

h4,
.u-heading4 {
  @include h4();
}

h5,
.u-heading5 {
  @include h5();
  margin-bottom: 0;
}

.u-textSub {
  color: $color-muted;
  font-weight: 400;
}

.u-textSmaller {
  font-size: 14px;
}

.u-textCondensed {
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.u-textQuote {
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.45;
  text-align: center;
}


// Links
// -----------------------------------------------------------------------------

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link;
    text-decoration: underline;
  }
  &:active {
    outline: 0;
    text-decoration: underline;
  }
  &:focus {
    outline: 1px solid dotted;
  }
}

// Horizontal rule
// -----------------------------------------------------------------------------

@mixin hr {
  display: block;
  width: 100%;
  max-width: 680px;
  height: 1px;
  margin: 25px auto;
  background: $color-hr;
}

hr {
  @include hr();
}