// =============================================================================
// Custom fonts
// =============================================================================

@font-face {
  font-family: 'helvetica Neue Condensed';
  src: asset-url('helvetica_neue_57_condensed.eot');
  src: asset-url('helvetica_neue_57_condensed.eot?#iefix') format('embedded-opentype'),
     asset-url('helvetica_neue_57_condensed.woff') format('woff'),
     asset-url('helvetica_neue_57_condensed.ttf') format('truetype'),
     asset-url('helvetica_neue_57_condensed.svg#helvetica_neue_57_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica Neue Condensed';
  src: asset-url('helvetica_neue_57_condensed_italic.eot');
  src: asset-url('helvetica_neue_57_condensed_italic.eot?#iefix') format('embedded-opentype'),
     asset-url('helvetica_neue_57_condensed_italic.woff') format('woff'),
     asset-url('helvetica_neue_57_condensed_italic.ttf') format('truetype'),
     asset-url('helvetica_neue_57_condensed_italic.svg#helvetica_neue_57_condensed_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'helvetica Neue Condensed';
  src: asset-url('helvetica_neue_77_condensed.eot');
  src: asset-url('helvetica_neue_77_condensed.eot?#iefix') format('embedded-opentype'),
     asset-url('helvetica_neue_77_condensed.woff') format('woff'),
     asset-url('helvetica_neue_77_condensed.ttf') format('truetype'),
     asset-url('helvetica_neue_77_condensed.svg#helvetica_neue_77_condensed') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica Neue Condensed';
  src: asset-url('helvetica_neue_77_condensed_italic.eot');
  src: asset-url('helvetica_neue_77_condensed_italic.eot?#iefix') format('embedded-opentype'),
     asset-url('helvetica_neue_77_condensed_italic.woff') format('woff'),
     asset-url('helvetica_neue_77_condensed_italic.ttf') format('truetype'),
     asset-url('helvetica_neue_77_condensed_italic.svg#helvetica_neue_77_condensed_italic') format('svg');
  font-weight: 500;
  font-style: italic;
}
