// =============================================================================
// Page specific styles
// =============================================================================

.page-header {
  margin-bottom: 36px;
  text-align: center;
  z-index: 2;

  strong {
    display: block;
    width: 100%;
    background: #f6f5f2;
    padding: 24px;
    overflow: hidden;
  }
}

// Start and about pages
// -----------------------------------------------------------------------------

.primary-content {
  @extend .Constrained;
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 630px;
  font-style: italic;
  font-size: 16px;
  line-height: 1.45;
  text-align: center;
}

// Product pages
// -----------------------------------------------------------------------------

.products-page {
  .nav__sub {
    visibility: visible;
    opacity: 1;
  }
  .shop {
    float: right;
    margin-top: 10px;
  }
}

.product-info {
  @include clearfix;
  position: relative;

  table {
    width: 85%
  }

  @media only screen and (min-width:768px) {
    article {
      float: left;
      width: 58%;
      max-width: 650px;
    }
  }
}

// Contact page
// -----------------------------------------------------------------------------

.contact-page {
  section {
    text-align: center;

    ul {
      font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: -4px 0 40px;
      padding: 0;
      list-style: none;
      width: 100%;
    }
  }
}