// =============================================================================
// Page specific styles
// =============================================================================

// Product pages
// -----------------------------------------------------------------------------

.products-page {
  .Navigation--sub {
    visibility: visible;
    opacity: 1;
  }
}

.product-info {
  @include clearfix;
  position: relative;

  table {
    width: 85%
  }

  @media only screen and (min-width:768px) {
    article {
      float: left;
      width: 58%;
      max-width: 650px;
    }
  }
}

// Contact page
// -----------------------------------------------------------------------------

.contact-page {
  section {
    text-align: center;

    ul {
      font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: -4px 0 40px;
      padding: 0;
      list-style: none;
      width: 100%;
    }
  }
}