// =============================================================================
// CSS setup
// =============================================================================

// Variables
// -----------------------------------------------------------------------------

$color-text: #4c4c4c;
$color-link: #007ac7;
$color-heading: #555;
$color-hr: rgba(204, 201, 199, .5);
$color-hr-hex: #e8e6e5;
$color-muted: #888;
$color-stripe: #f6f5f2;
$color-success: #3F9E21;
$color-danger: #f06060;

// Mixins
// -----------------------------------------------------------------------------

@import "bourbon";
@import "mixins";

// Base styles
// -----------------------------------------------------------------------------

@import "font";
@import "lib/normalize";
@import "base";

// Components
// -----------------------------------------------------------------------------

@import "components/suit-grid";
@import "components/suit-grid-layouts";

@import "components/grid";
@import "components/page";
@import "components/control";
@import "components/button";
@import "components/table";
@import "components/list";
@import "components/logo";
@import "components/navigation";
@import "components/footer";
@import "components/shop";
@import "components/product-list";
@import "components/constrained";
@import "components/tabbed";
@import "components/icon";
@import "components/rotate";
@import "components/price-calc";

// Utilities
// -----------------------------------------------------------------------------

@import "utilities/suit-dimension";
@import "utilities/suit-display";
@import "utilities/suit-layout";
@import "utilities/suit-space";
@import "utilities/suit-state";
@import "utilities/suit-text";

@import "utilities/custom";
