@import "bourbon";
@import "bootstrap";



.container {
  padding-top: 42px;
}

@media (min-width: 992px) {
  .container {
    max-width: 970px !important;
  }
}



.table-head {
  cursor: pointer;
  position: relative;

  .glyphicon {
    display: none;
  }
}

.table-asc {
  background: #f5f5f5;

  .glyphicon {
    display: block;
    position: absolute;
    font-size: 11px;
    color: #bdbdbd;
    top: 12px;
    right: 10px;
    @include transform(rotate(90deg));
  }
}

.table-desc {
  @extend .table-asc;

  .glyphicon {
    right: 12px;
    @include transform(rotate(-90deg));
  }
}