// =============================================================================
// CSS setup
// =============================================================================

// Utilities
// -----------------------------------------------------------------------------

@import "bourbon";

@import "utilities/display";
@import "utilities/layout";
@import "utilities/link";
@import "utilities/space";
@import "utilities/state";
@import "utilities/text";

// Variables
// -----------------------------------------------------------------------------

$color-text: #4c4c4c;
$color-link: #007ac7;
$color-hr: #e6e6e6;
$color-muted: #888;

// Base styles
// -----------------------------------------------------------------------------

@import "font";
@import "normalize";
@import "base";

// Components
// -----------------------------------------------------------------------------

@import "components/constrained";
@import "components/button";
@import "components/form-element";
@import "components/logo";
@import "components/nav";
@import "components/shop";
@import "components/product-list";
@import "components/page-footer";
@import "components/grid";

// Page specific styles
// -----------------------------------------------------------------------------

@import "page-specific";