// =============================================================================
// CSS setup
// =============================================================================

// Utilities
// -----------------------------------------------------------------------------

@import "bourbon";

@import "utilities/suit-dimension";
@import "utilities/suit-display";
@import "utilities/suit-layout";
@import "utilities/suit-link";
@import "utilities/suit-space";
@import "utilities/suit-state";
@import "utilities/suit-text";

// Variables
// -----------------------------------------------------------------------------

$color-text: #4c4c4c;
$color-link: #007ac7;
$color-hr: #e6e6e6;
$color-muted: #888;

// Base styles
// -----------------------------------------------------------------------------

@import "font";
@import "normalize";
@import "base";

// Components
// -----------------------------------------------------------------------------

@import "components/constrained";
@import "components/control";
@import "components/button";
@import "components/logo";
@import "components/navigation";
@import "components/shop";
@import "components/product-list";
@import "components/page-footer";
@import "components/grid";
@import "components/page";