// =============================================================================
// Controls, form elements
// =============================================================================

.Control {
  margin-bottom: 15px;

  label {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
    color: #555;
  }
}

.Control-field {
  display: block;
  width: 100%;
  display: block;
  width: 100%;
  box-shadow: none;
  border: 1px solid #bbb;
  padding: 7px 10px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  border-radius: 3px;
  background: white;
  box-shadow: inset 0 1px 0px rgba(black, .08);

  &:-webkit-placeholder { color: #bbb; }
  &:-moz-placeholder { color: #bbb; }
  &:placeholder { color: #bbb; }

  &:focus {
    outline: 0;
    border-color: $color-link;
    background: lighten($color-link, 58%);
  }

  &[readonly] {
    background: #f2f2f2;
    text-align: center;
    font-size: 30px;
    color: #585858;

    &:focus {
      background: #f2f2f2;
    }
  }

  &[disabled] {
    background: #f2f2f2;
    color: #585858;
    cursor: default;
  }

  &.is-correct {
    background: #E9FFE2;
    color: $color-success;
  }
}

// validation states
// -----------------------------------------------------------------------------

input.is-invalid {
  border-color: $color-danger;
}

// menus
// -----------------------------------------------------------------------------

.Control-menu {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  opacity: .8;
}

// radio buttons and checkboxes
// -----------------------------------------------------------------------------

label.Control {
  display: inline-block;
  cursor: pointer;

  input {
    display: inline-block;
    margin: -5px 3px 0 0;
    vertical-align: middle;

    &:not(:checked) {
      opacity: .8;

      ~ span {
        color: $color-muted;
      }
    }
  }

  &.is-disabled {
    cursor: default;
  }

  // Extra info for check/radio on new line
  .Control-sub {
    margin-left: 22px;
    display: block;
    font-size: 90%;
  }
}

// Control addon button
// -----------------------------------------------------------------------------

.Control-addon {
  display: block;
  color: #777;
  border: 1px solid #bbb;
  padding: 3px 5px 3px;
  font-size: 14px;
  font-family: inherit;
  border-radius: 0 0 3px 3px;
  background: white;
  text-align: center;
  margin: -1px 0 0;
  width: 100%;
  background: white;

  &:hover,
  &:focus {
    outline: 0;
    background: #f8f8f8;
  }

  &:active {
    outline: 0;
    box-shadow: inset 0 1px 0px rgba(black, .08);
  }
}

.Control.has-addon {
  .Control-field {
    border-radius: 3px 3px 0 0;
  }
}

.Control-field.is-invalid {
  + .Control-addon {
    border-top-color: $color-danger;
    color: $color-danger;
  }
}

.Control-field.is-correct + .Control-addon,
.Control-addon:disabled {
  color: #A0A0A0;
  background: #f8f8f8;
  text-shadow: 0 1px white;

  &:active {
    box-shadow: none;
  }
}

.Control-field:focus {
  + .Control-addon {
    border-top-color: $color-link;
  }
}

// Control creator button
// -----------------------------------------------------------------------------

.Control-creator {
  color: #979797;
  border: 1px solid white;
  padding: 7px 10px 7px 33px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 300;
  border-radius: 3px;
  background: white;
  position: relative;
  width: 100%;
  text-align: left;

  &:before,
  &:after {
    content: "";
    background: #a2a2a2;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    width: 12px;
    height: 2px;
    top: 15px;
    left: 14px;
  }

  &:after {
    width: 2px;
    height: 12px;
    top: 10px;
    left: 19px;
  }

  &:hover,
  &:focus {
    border-color: #D1D1D1;
    outline: 0;
  }

  &:active {
    outline: 0;
    box-shadow: inset 0 1px 0px rgba(black, .08);
    background: #f8f8f8;
  }
}