// =============================================================================
// Controls, form elements
// =============================================================================

.Control {
  margin-bottom: 15px;

  input {
    display: block;
    width: 100%;
  }
}

// radio buttons and checkboxes
// -----------------------------------------------------------------------------

label.Control {
  display: inline-block;
  cursor: pointer;

  input {
    display: inline-block;
    width: auto;
    margin: -5px 3px 0 0;
    vertical-align: middle;

    &:not(:checked) {
      opacity: .8;

      ~ span {
        color: $color-muted;
      }
    }
  }

  &.is-disabled {
    cursor: default;
  }

  // Extra info for check/radio on new line
  .Control-sub {
    margin-left: 22px;
    display: block;
    font-size: 90%;
  }
}

// validation states
// -----------------------------------------------------------------------------

.Control {
  &.is-invalid {
    input {
      border-color: red;
    }
  }
}