// =============================================================================
// Constrained wrapper
// =============================================================================

.Constrained {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}

.Constrained--tight {
  max-width: 850px;
}

.Constrained--tighter {
  max-width: 700px;
}

.Constrained--extraTight {
  max-width: 610px;
}