// =============================================================================
// Controls, form elements
// =============================================================================

.Control {
  margin-bottom: 15px;

  label {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
    color: #444;
  }
}

.Control-field {
  display: block;
  width: 100%;
  display: block;
  width: 100%;
  box-shadow: none;
  border: 1px solid #bbb;
  padding: 7px 10px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  border-radius: 3px;
  background: white;
  box-shadow: inset 0 1px 0px rgba(black, .08);

  &:focus {
    outline: none;
    border-color: $color-link;
    background: lighten($color-link, 58%);
  }
}

// menus
// -----------------------------------------------------------------------------

.Control-menu {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  opacity: .8;
}

// radio buttons and checkboxes
// -----------------------------------------------------------------------------

label.Control {
  display: inline-block;
  cursor: pointer;

  input {
    display: inline-block;
    margin: -5px 3px 0 0;
    vertical-align: middle;

    &:not(:checked) {
      opacity: .8;

      ~ span {
        color: $color-muted;
      }
    }
  }

  &.is-disabled {
    cursor: default;
  }

  // Extra info for check/radio on new line
  .Control-sub {
    margin-left: 22px;
    display: block;
    font-size: 90%;
  }
}

// validation states
// -----------------------------------------------------------------------------

input.is-invalid {
  border-color: #f06060;
}