// =============================================================================
// Footer
// =============================================================================

.Footer {
  padding: 0 15px 70px;
  margin: 50px auto 0;
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #808080;

  &:before {
    content: "";
    @include hr();
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px 10px;
    list-style: none;

    @include min-width(768px) {
      margin: 0 15px 10px;
    }
  }

  a {
    color: inherit;
  }
}