// =============================================================================
// Form elements
// =============================================================================


// Checkboxes and radio buttons
// -----------------------------------------------------------------------------

.check-radio {
  display: inline-block;
  cursor: pointer;

  input {
    margin: -5px 3px 0 0;
    vertical-align: middle;

    &:not(:checked) {
      opacity: .8;
      ~ span {
        color: $color-muted;
      }
    }
  }
}