// =============================================================================
// Tweaks for Suit Grid
// =============================================================================

// Modifier for wide gutters
// -----------------------------------------------------------------------------

.Grid--wide {
  margin: 0 -20px;
}

.Grid--wide > .Grid-cell {
  padding: 0 20px;
}

// Modifier for narrow gutters
// -----------------------------------------------------------------------------

.Grid--narrow {
  margin: 0 -6px;
}

.Grid--narrow > .Grid-cell {
  padding: 0 6px;
}