// =============================================================================
// Lists
// =============================================================================

.List {
  list-style: square;
}

// Modifier for a clean list
// -----------------------------------------------------------------------------

.List--clean {
  padding: 0;
  margin: 0;
  list-style: none;
}

.List--divided {
  @extend .List--clean;
  font-size: 14px;
  margin-top: -3px;

  li {
    border-bottom: 1px solid $color-hr;
    padding: 5px;
  }
}