// =============================================================================
// Lists
// =============================================================================

.List {
  list-style: square;
}

// Modifier for a clean list
// -----------------------------------------------------------------------------

.List--clean {
  padding: 0;
  margin: 0;
  list-style: none;
}