// =============================================================================
// Lists
// =============================================================================

.List {
  a.is-active {
    color: inherit;
    cursor: default;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

// Modifier for spacing
// -----------------------------------------------------------------------------

.List--spacing {
  li {
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
  }
}

// Modifier for a clean list
// -----------------------------------------------------------------------------

.List--clean {
  padding: 0;
  margin: 0;
  list-style: none;
}

.List--divided {
  @extend .List--clean;
  font-size: 14px;
  margin-top: -3px;

  li {
    border-bottom: 1px solid $color-hr-hex;
    border-bottom: 1px solid $color-hr;
    padding: 5px;
  }
}
