// =============================================================================
// Logotype
// =============================================================================

.Logo {
  display: inline-block;
  width: 135px;
  height: 51px;
  margin-right: -10px;
  text-indent: -200%;
  color: transparent;
  background: no-repeat asset-url('logo.png');
  background: none, no-repeat asset-url('logo.svg');
  background-size: 100% auto;
  opacity: 0.7;
  @include transition(opacity .1s ease);
  -webkit-tap-highlight-color: rgba(black, 0);

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.6;
    @include transition(opacity 0 ease);
  }
}