// =============================================================================
// Logotype
// =============================================================================

.logo {
  display: inline-block;
  width: 150px;
  height: 51px;
  background: asset-url('logo.png') no-repeat;
  background: none, asset-url('logo.svg') no-repeat;
  opacity: 0.75;
  text-indent: -200%;
  color: transparent;
  @include transition(opacity .2s ease);
  -webkit-tap-highlight-color: rgba(black, 0);

  &:hover {
    opacity: 0.85;
  }
  &:active {
    opacity: 0.6;
    @include transition(opacity 0 ease);
  }
}