// =============================================================================
// Page parts
// =============================================================================

.Page {

}

// Page header
// -----------------------------------------------------------------------------

.Page-header {
  z-index: 2;
  text-align: center;

  // Used for emphasizing the logo but also as a layout helper
  strong {
    display: block;
    width: 100%;
    padding: 22px 20px 19px;
    overflow: hidden;
    background: #f6f5f2;
  }
}

// Main content
// -----------------------------------------------------------------------------

.Page-main {
  padding: 30px 20px 40px;

  @include min-width(768px) {
    padding: 50px 20px 45px;
  }
}

// Modifiers for page specific styles
// -----------------------------------------------------------------------------

// TODO: refactor, this section should not be needed

.product-info {
  @include clearfix;
  position: relative;

  table {
    font-size: 14px;
    width: 90%
  }

    article {
      max-width: 500px;
      float: left;
    }
}