// =============================================================================
// Page parts
// =============================================================================

.Page {

}

// Page header
// -----------------------------------------------------------------------------

.Page-header {
  z-index: 2;
  margin-bottom: 36px;
  text-align: center;

  // Used for emphasizing the logo but also as a layout helper
  strong {
    display: block;
    width: 100%;
    padding: 24px;
    overflow: hidden;
    background: #f6f5f2;
  }
}

// Primary text content
// -----------------------------------------------------------------------------

.Page-intro {
  @extend .Constrained;
  width: 630px;
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.45;
  text-align: center;
}

// Modifiers for page specific styles
// -----------------------------------------------------------------------------

// TODO: refactor, this section should not be needed

.Page--products {
  .Navigation--sub {
    visibility: visible;
    opacity: 1;
  }
}

.product-info {
  @include clearfix;
  position: relative;

  table {
    width: 85%
  }

  @media only screen and (min-width:768px) {
    article {
      float: left;
      width: 58%;
      max-width: 650px;
    }
  }
}

.Page--contact {
  section {
    text-align: center;

    ul {
      font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: -4px 0 40px;
      padding: 0;
      list-style: none;
      width: 100%;
    }
  }
}