// =============================================================================
// Price Calculator
// =============================================================================

.PriceCalc {
  height: 76px;
  border: 1px solid $color-hr-hex;
  border: 1px solid $color-hr;
  padding-top: 14px;
  margin: 20px 0 15px;
  border-width: 1px 0;
  padding: 14px 0 16px 17px;

  &.is-reduced {
    .PriceCalc-result {
      color: $color-success;
      line-height: inherit;
    }

    .PriceCalc-desc {
      display: block;
    }
  }
}

.PriceCalc-result {
  font-size: 18px;
  line-height: 44px;

  strong {
    display: inline-block;
    margin-right: 3px;
    font-weight: 500;
    color: $color-text;
  }
}

.PriceCalc-desc {
  display: none;
  font-size: 14px;
  color: #888;
}