// =============================================================================
// Price Calculator
// =============================================================================

.PriceCalc {
  border: 1px solid $color-hr-hex;
  border: 1px solid $color-hr;
  padding-top: 14px;
  margin: 20px 0 15px;
  border-width: 1px 0;
  padding: 14px 0 16px 17px;

  &.is-reduced {
    .PriceCalc-desc {
      color: #999;
    }
  }
}

.PriceCalc-result {
  font-size: 18px;
  color: $color-success;

  strong {
    display: inline-block;
    margin-right: 3px;
    font-weight: 500;
    color: $color-text;
  }
}

.PriceCalc-desc {
  font-size: 14px;
}