// =============================================================================
// Product list
// =============================================================================

.ProductList {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-top: 20px;

    @include min-width(470px) {
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

// Modifier for a devided list
// -----------------------------------------------------------------------------

.ProductList--divided {
  li:before {
    content: "";
    @include hr();
  }

  li:first-child:before {
    display: none;
  }
}

// The product in the list
// -----------------------------------------------------------------------------

.ProductList-item {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.ProductList-itemHeading {
  @include h3();
  display: block;
  text-align: center;

  @include min-width(470px) {
    @include h2();
  }
}

.ProductList-itemImage {
  width: 100%;
  height: auto;
}
