// =============================================================================
// Shop
// =============================================================================

.Shop {
  display: block;
  min-width: 270px;
  padding: 25px 27px;
  border: 1px solid $color-hr;
  border-radius: 3px;
  @include user-select(none);
}

// Buy options
// -----------------------------------------------------------------------------

.Shop-firstOption {
  margin-right: 30px;
}

.Shop-option {
  margin-top: 20px;

  p {
    text-align: center;
    cursor: default;
    margin: 2px 0 -4px;
    font-size: 14px;
    white-space: nowrap;
  }
}

.Shop-buyButton {
  width: 100%;
  margin: 8px 0 10px;
  text-align: center;
  text-indent: 4px;
}
