// =============================================================================
// Shop
// =============================================================================

.Shop {
  display: block;
  min-width: 270px;
  padding: 25px 27px;
  border: 1px solid $color-hr-hex;
  border: 1px solid $color-hr;
  border-radius: 3px;
  font-size: 16px;
  @include user-select(none);
  -webkit-touch-callout: none;
}

.Shop-section {
  padding: 16px 0 2px;
  border-top: 1px solid $color-hr-hex;
  border-top: 1px solid $color-hr;
}

.Shop-option {
  p {
    text-align: center;
    cursor: default;
    margin: 2px 0 -4px;
    font-size: 14px;
    white-space: nowrap;
  }
}

.Shop-buyButton {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  text-indent: 2px;
}
