// =============================================================================
// Shop
// =============================================================================

.Shop {
  display: block;
  width: 295px;
  padding: 25px 28px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
}

.Shop-heading {
  cursor: default;
}

// Buy options
// -----------------------------------------------------------------------------

.Shop-option {
  margin-top: 20px;

  p {
    cursor: default;
    margin: 0;
    font-size: 90%;
    white-space: nowrap;
  }
}

.Shop-buyButton {
  width: 100%;
  margin: 6px 0 10px;
  text-align: center;
  text-indent: 4px;
}
