// =============================================================================
// Tables
// =============================================================================

.Table {
  width: 100%;
  font-size: 14px;

  thead {
    font-weight: 500;
  }
}

// Fixed width columns. Use with dimension utilities
// -----------------------------------------------------------------------------

.Table--fixed {
  table-layout: fixed;

  td {
    display: inline-block;
    padding: 0;
  }
}

// Striped rows
// -----------------------------------------------------------------------------

.Table--striped {
  // Stripe rows, but not in table head
  tbody tr:nth-child(2n + 1) {
    background: $color-stripe;
  }

  td {
    padding: 5px 8px;
  }
}


// Flaten tables for small viewports
// -----------------------------------------------------------------------------

// Show inline headings for every td
.Table-backupHead {
  display: inline-block;
  margin-right: 5px;

  @include min-width(768px) {
    display: none;
  }
}

.Table--responsive {
  // Note: "desktop first" media query
  @include max-width(768px) {

    // Hide regular table head
    thead td {
      display: none;
    }

    // Break table columns to new lines
    td {
      display: block;
      width: auto !important; // override any utility classes
      padding: 3px 15px;
      overflow: hidden;
      // Break long words
      word-break: break-all;
      word-break: break-word;
      word-wrap: break-word;

      // Seperate table rows here, because we can't set padding on tr's
      &:first-child { margin-top: 10px; }
      &:last-child { margin-bottom: 10px; }
    }
  }
}