// =============================================================================
// Tables
// =============================================================================

.Table {
  width: 100%;
  font-size: 14px;

  thead {
    font-weight: 500;
  }
}

// Fixed width columns. Use with dimension utilities
// -----------------------------------------------------------------------------

.Table--fixed {
  table-layout: fixed;

  td {
    display: inline-block;
    padding: 0;
    overflow: hidden;
    // Break words
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
  }
}

// Striped rows
// -----------------------------------------------------------------------------

.Table--striped {
  tbody tr {
    &:nth-child(2n + 1) {
      background: $color-stripe;
    }
  }

  td {
    padding: 5px 8px;
  }
}


// Inline tables for small viewports
// -----------------------------------------------------------------------------

.Table {
  @include max-width(768px) {

    thead td {
      display: none;
    }

    td {
      display: block;
      width: auto !important; // override any utilitie classes
      padding: 3px 15px;

      &:first-child { margin-top: 10px; }
      &:last-child { margin-bottom: 10px; }
    }
  }
}

.Table-backupHead {
  display: inline-block;
  margin-right: 5px;

  @include min-width(768px) {
    display: none;
  }
}
