// =============================================================================
// Tabbed section
// =============================================================================

.Tabbed {
  clear: both;
  padding-top: 20px;
  border-bottom: 1px solid $color-hr-hex;
  border-bottom: 1px solid $color-hr;
}

// Tabbed navigation
// -----------------------------------------------------------------------------

.Tabbed-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid $color-hr-hex;
  border-bottom: 1px solid $color-hr;
  padding: 0 5px;

  li {
    display: inline-block;
    margin: 0 3px -1px;
  }
}

.Tabbed-navItem {
  display: block;
  padding: 7px 12px 5px;
  border: 1px solid $color-hr-hex;
  border: 1px solid $color-hr;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  font-family: "helvetica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  background: #f1f0ed;
  border-radius: 3px 3px 0 0;
  @include user-select(none);
  -webkit-tap-highlight-color: rgba(black, 0);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #555;
  }

  &:hover,
  &:focus {
    color: #222;
  }

  &:active {
    color: #888;
  }

  &.is-active {
    border-bottom-color: white;
    background: white;
    cursor: default;

    &:hover,
    &:focus {
      color: #555;
    }
  }
}

// Tabbed sections
// -----------------------------------------------------------------------------

.Tabbed-section {
  padding: 20px 0 22px;

  > :first-child {
    margin: 0;
  }

  // Refactor: this should not be here without a .Tabbed-* selector
  .Shop {
    border: 0;
    padding: 0;
  }

  .Shop-option {
    max-width: 300px;
  }

  .Table,
  > p {
    width: 100%;
    max-width: 490px;
  }
}

// Correct padding when children are paragraphs

.Tabbed-section--tighter {
  padding: 4px 0 6px;
}
