<div class="nav__sub">
  <ul>
    <% @boards.each do |board| %>
      <li><a class="nav__item <%= active(board.slug) %>" href="/products/<%= board.slug %>"><%= board.name %></a></li>
    <% end %>
  </ul>
</div>