<div class="nav__sub">
  <ul>
    <% @boards.each do |board| %>
      <li><a class="nav__item <%= "is-active" if @board.slug == board.slug %>" href="/products/<%= board.slug %>"><%= board.name %></a>
    <% end %>
  </ul>
</div>