/* ==========================================================================
   Display utilities
   ========================================================================== */

/**
 * Display-type utilities
 */

.inline {
    display: unquote("inline !important")
}

.inline-block {
    display: unquote("inline-block !important")
}

.block {
    display: unquote("block !important")
}

/* -------------------------------------------------------------------------- */

/**
 * Completely remove from the flow and screen readers.
 */

.is-hidden {
    display: unquote("none !important")
    visibility: hidden !important;
}

/**
 * Hide visibility but keep it rendered
 */

.is-fake-hidden {
    visibility: hidden !important;
    position: absolute !important;
}



/**
 * Completely remove from the flow but leave available to screen readers.
 */

.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Control visibility without affecting flow.
 */

.is-visible {
    visibility: visible !important;
}

.is-invisible {
    visibility: hidden !important;
}
