/* ==========================================================================
   States utilities
   ========================================================================== */

/**
 * Indicate that interaction will result in an action.
 *
 * Commonly toggled via JavaScript.
 */

.is-actionable {
    cursor: pointer;
}

.is-draggable {
    cursor: move;
}

.is-disabled,
[disabled] {
    cursor: not-allowed;
    pointer-events: none;
}

.is-muted {
  color: muted !important
}